<form *ngIf="contact" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <div class="form-group">
    <md-input-container class="example-full-width">
      <input mdInput placeholder="First Name" type="text" class="form-control" name="name"
             [(ngModel)]="contact.firstName" #name="ngModel" required>
    </md-input-container>
  </div>
  <div class="form-group">
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Last Name" type="text" class="form-control" name="lastName"
             [(ngModel)]="contact.lastName" #lastName="ngModel" required>
    </md-input-container>
  </div>
  <div class="form-group">
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Phone" type="tel" class="form-control" name="phone"
             [(ngModel)]="contact.phone" #lastName="ngModel" required>
    </md-input-container>
  </div>
  <div class="form-group">
    <md-input-container class="example-full-width">
      <input mdInput placeholder="Last Name" type="email" class="form-control" name="email"
             [(ngModel)]="contact.email" #lastName="ngModel">
    </md-input-container>
  </div>
  <button md-raised-button type="button" color="accent" (click)="goBack()">Back</button>
  <button md-raised-button type="submit" color="primary" [disabled]="myForm.invalid || myForm.pristine">Submit</button>
</form>

